@page "/"
@inject IJSRuntime JS
@inject MapEntityTracker entityTracker
@inject IConfiguration config

<PageTitle>Index</PageTitle>

<div id="@mapContainerId"></div>

@code {
	const string mapContainerId = "map-container";
	protected IJSObjectReference? module;

	sealed record MapConfig(string ImageOverlay, int TopX, int TopY, int BottomX, int BottomY);

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await JS.InvokeAsync<IJSObjectReference>("import", "https://unpkg.com/leaflet@1.9.3/dist/leaflet.js");

		module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/Index.razor.js");

		var entityTypeToImage = config.GetSection("MapIcons").Get<Dictionary<string, string>>();
		await module.InvokeVoidAsync("InitializeMapIcons", entityTypeToImage);

		var mapConfig = config.GetSection("MapConfig").Get<MapConfig>() ?? throw new InvalidOperationException("Configuration 'MapConfig' was null.");
		await module.InvokeVoidAsync("InitializeMapContainer", mapContainerId, mapConfig);

		var apiKey = config.GetValue<string>(APIKey.SectionName) ?? throw new InvalidOperationException("Configuration 'API_KEY' was null.");
		await module.InvokeVoidAsync("InitializePolling", apiKey);
	}
}
